*{
    box-sizing: border-box;
   
}
#showcase{
    width: auto;
    height: 100vh;
    background-image: url(./beachshowcase.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #926239;
    text-align: center;
}
h1{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 72px
}
p{ 
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    align-items: center;
    padding: 20px;
} 
a{
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.button{
    width: 180px;
    height: 60px;
    background-color: 0;
    border: 1px solid #926239 ;
    border-radius: 10%;
}   
#section-a {
    background-color: #926239;
    color:#fcfbf9 ;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
#section-b {
    background-color: #fcfbf9;
    color: #926239 ;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
#section-c {
    display: flex;
    justify-content: space-evenly;
}

.box-1 {
    background-color: #926239;
    color:#fcfbf9 ;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.box-3 {
    background-color: #926239;
    color:#fcfbf9 ;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
} 
.box-2 {
    background-color: white;
    color: #926239;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}  
